$search-button-width: gutter(1.5);
$search-bar-height: calc(44px + #{gutter(2)});
@mixin provider-detail-large() {
  background-color: $white;
  bottom: 0;
  overflow: auto;
  padding: gutter(1);
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% / 1.61803398875);
  transition: transform 300ms ease;
  transform: translateX(100%);
  &.show {
    transform: translateX(0);
  }
  > article {
    > header {
      border-bottom: 1px solid $blue;
      margin-bottom: gutter();
      > h1 {
        @include text-color($blue, 1);
        @include type-golden(1);
        line-height: gutter(1);
      }
      > h2 {
        @include text-color($grey, 1);
        @include type-golden(0);
      }
    }
    > main {
      > section {
        margin-bottom: gutter(2);
        > header {
          background-color: $light-grey;
          margin-bottom: gutter();
          overflow: auto;
          position: relative;
          > div:first-of-type {
            float: left;
            padding: gutter();
            width: calc(100% - 100% / 1.61803398875);
            > h1 {
              @include text-color($blue, 1);
            }
          }
          > div:last-of-type {
            border-bottom: 2px solid $blue;
            float: right;
            width: calc(100% / 1.61803398875);
            > div {
              background-color: $blue;
              float: right;
              height: 100%;
              padding: gutter();
              > span {
                @include text-color($white);
                @include type-golden(1);
                float: right;
                height: 19px;
                line-height: 19px;
              }
            }
          }
        }
        > main {
          @include grid-container;
          > div:first-of-type {
            padding: 0 gutter();
            > p {
              @include type-golden(0);
              font-weight: 300;
              margin-bottom: gutter();
            }
          }
          > div:last-of-type {
            @include grid-column(16, $no-gutter);
            > div {
              @include grid-collapse;
              overflow: auto;
              > div {
                @include grid-column(1 of 3);
                background: $light-grey;
                float: left;
                height: 200px;
                overflow: auto;
              }
            }
          }
        }
      }
    }
  }
}

.provider-detail-large-cell{
  @include provider-detail-large;
}
