@mixin progress-circle() {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
  &.static {
    margin: gutter();
    position: static;
    transform: none;
  }
  @-webkit-keyframes progress-circle-rotation {
    100% {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes progress-circle-dash {
    0% {
      stroke-dasharray: 1px, 200px;
      stroke-dashoffset: 0px;
    }
    50% {
      stroke-dasharray: 100px, 200px;
      stroke-dashoffset: -15px;
    }
    100% {
      stroke-dasharray: 100px, 200px;
      stroke-dashoffset: -120px;
    }
  }
  svg {
    animation: progress-circle-rotation 1.4s linear infinite;
    height: 40px;
    width: 40px;
    > circle {
      animation: progress-circle-dash 1.4s ease-in-out infinite;
      stroke: $blue;
      stroke-dasharray: 80px, 200px;
      stroke-dashoffset: 0px;
    }
  }
}


.progress-circle-cell{
  @include progress-circle;
}
