$search-button-width: gutter(1.5);
$search-bar-height: calc(66px);
@mixin branch-detail-half-left() {
  background-color: $white;
  border-right: 1px solid color($light-grey, 0.5); // for right
  bottom: 0;
  left: 0%; // for left
  overflow: auto;
  padding: gutter(1) 0 gutter(1) gutter(1); // for left
  position: fixed;
  top: $search-bar-height;
  transform: translateX(-100%); // for left
  transition: transform 300ms ease 0ms;
  width: 50%;
  will-change: transform;
  z-index: 1000;
  &.show {
    transform: translateX(0); // for left
    transition: transform 300ms ease 300ms;
  }
  > div {
    > article {
      > header {
        border-bottom: 1px solid $blue;
        margin-bottom: gutter();
        > h1 {
          @include text-color($blue, 1);
          @include type-golden(1);
          line-height: gutter(1);
          padding-right: gutter(1); // for left
          text-align: left;  // for left
        }
        > h2 {
          @include text-color($grey, 1);
          @include type-golden(0);
          text-align: left;  // for left
        }
      }
      > main {
        @include grid-column(1 of 1);
        > section {
          @include grid-collapse;
          clear: both;
          margin-bottom: gutter(2);
          > header {
            background-color: $light-grey;
            margin-bottom: gutter();
            overflow: auto;
            position: relative;
            > div:first-of-type {
              float: left;
              padding: gutter();
              > h1 {
                @include text-color($blue, 1);
                text-align: left;  // for left
              }
            }
            &.percentage {
              > div:first-of-type {
                width: calc(100% - 100% / 1.61803398875);
              }
              > div:last-of-type {
                border-bottom: 2px solid $blue;
                float: right;  // for left
                width: calc(100% / 1.61803398875);
                &.low { border-bottom-color: $red; > div {background-color: $red;}}
                &.high { border-bottom-color: $light-blue; > div {background-color: $light-blue;}}
                > div {
                  background-color: $blue;
                  float: right;  // for left
                  height: 100%;
                  padding: gutter();
                  > span {
                    @include text-color($white);
                    @include type-golden(1);
                    float: right;  // for left
                    height: 19px;
                    line-height: 19px;
                    white-space: nowrap;
                  }
                }
              }
            }
          }
          > main {
            @include grid-container;
            > p {
              @include type-golden(0);
              font-weight: 300;
              padding: 0 gutter();
            }
              padding: 0 gutter();
            > div:first-of-type {
              > p {
                @include type-golden(0);
                font-weight: 300;
                margin-bottom: gutter();
                > strong {
                  font-weight: 600;
                }
              }
            }
            > div:last-of-type {
              @include grid-collapse;
              overflow: hidden;
              > div {
                > div {
                  > p {
                    @include text-color($blue);
                    border-bottom: 2px solid $blue;
                    display: inline-block;
                    max-width: 350px;
                    width: 100%;
                  }
                }
              }
              &.horizontal {
                > div {
                  > div {
                    @include grid-column(1 of 2);
                    margin-bottom: gutter();
                  }
                }
              }
              &.vertical {
                > div {
                  > div {
                    @include grid-column(1 of 3);
                    margin-bottom: gutter();
                  }
                }
              }
            }
          }
        }
        > section:first-of-type {
          > main {
            @include grid-column(1 of 1);
            clear: both;
          }
        }
      }
    }
  }
}
.branch-detail-half-left-cell{
  @include branch-detail-half-left;
}
