@mixin specialities-visualization() {
  background-color: $light-grey;
  border-radius: 2px;
  height: 60px;
  padding: gutter(-1);
  > img {
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
    width: 15px;
  }
  > span {
    display: inline-block;
    font-size: .85rem;
    font-weight: 300;
    line-height: 1.2rem;
    margin-top: 1px;
    vertical-align: top;
    width: calc(100% - 40px);
  }
}

@mixin mobile-specialities-visualization() {
  height: auto;
}

.specialities-visualization-cell{
  @include specialities-visualization;
}

.mobile .specialities-visualization-cell{
  @include mobile-specialities-visualization;
}
