@mixin specialities-visualization() {
  background-color: $light-grey;
  border-radius: 2px;
  overflow: auto;
  padding: gutter(-1);
  > img {
    display: inline-block;
    width: 40px;
  }
  > span {
    @include type-golden(-1);
    display: inline-block;
    line-height: 0.8rem;
    width: calc(100% - 40px);
  }
}

.specialities-visualization-cell{
  @include specialities-visualization;
}
