@mixin splash() {
  min-height: calc(100% - 5rem);
  padding: gutter(2);
  @keyframes info-animation {
    0% {opacity: 0;}
    1% {opacity: 0;}
    5% {opacity: 1;}
    45% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity:0;}
  }

  // Searchbar styles
  .searchbar {
    // height: 66px;
    // overflow: auto;
    position: relative;
    > input {
      @include type-golden(0);
      float: left;
      height: 44px;
      margin-bottom: gutter();
      padding: gutter() gutter(2) gutter() gutter();
      width: 100%;
      background: #FFF;
      border: 1px solid $light-blue;
      color: $light-blue;
    }
    > input::placeholder {
      color: $light-blue;
    }
    > a {
      cursor: pointer;
      display: block;
      height: 44px;
      opacity: 0.6;
      padding: gutter(-1);
      position: absolute;
      right: 0;
      top: 0;
      width: 44px;
      &:hover {
        opacity: 1;
      }
      > img {
        height: 100%;
      }
    }
    .explain {
      @include type-golden(0);
      color: $blue;
      font-size: 0.8rem;
      background: #FFF;
      font-family: "PT Sans";
      line-height: gutter($phi - 1);
      margin-bottom: gutter();
      padding: gutter(-1);
      strong{
        font-family: "Montserrat", Helvetica, Arial, sans-serif;
        font-weight: bold;
        margin-right: gutter()/2;
      }
    }
    input:invalid ~ a {
      display: none;
    }
  }
  .search-results {
    overflow: auto;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;    
    > ul {
      border: 1px solid $light-grey;
      background: #FFF;
      > li {
        border-bottom: 1px solid $light-grey;
        &:last-of-type {
          border: none;
        }
        &:hover {
          background-color: $light-blue;
          > a {
            > article {
              > header {
                > p {
                  color: $white;
                  font-size: 0.8rem;
                  font-weight: 600;
                  > em {
                    background-color: transparent;
                    font-weight: 800;
                  }
                }
              }
              > main {
                > p {
                  color: $white;
                  
                }
                em {
                  background-color: transparent;
                  font-weight: 800;
                }
                .specialties-wrapper {
                  > div {
                    background-color: $white;
                    > span {
                      border: none;
                      color: $light-blue;
                      > em {
                        background-color: $highlight;
                        color: $black;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        > a {
          cursor: pointer;
          display: block;
          overflow: auto;
          padding: gutter(-1);
          &:hover {
            text-decoration: none;
          }
          > article {
            > header {
              > p {
                @include type-golden(0);
                @include text-color($blue, 1);
                font-size: 0.8rem;
                font-weight: 600;
                line-height: gutter(1);
                em {
                  background-color: $highlight;
                }
              }
            }
            > main {
              > p {
                @include type-golden(-1);
                @include text-color($grey, 1);
                text-transform: uppercase;
                em {
                  background-color: $highlight;
                }
              }              
            }
          }
        }
      }
    }
  }

  background-color: $white;
  > div:first-of-type {
    background-color: rgba(255,255,255,0.6);
    border-radius: 2px;
    left: 50%;
    max-width: 500px;
    padding: gutter();
    position: absolute;
    top: 15%;
    transform: translate3d(-50%, -50%, 0);
    width: 70%;
    z-index: 1;
    > ul {
      margin-bottom: gutter(2);
      position: relative;
      > li {
        left: 0;
        position: absolute;
        right: 0;
        top: 20%;
        > div {
          @include type-golden(0);
          display: block;
          font-weight: 600;
          opacity: 0;
          position: absolute;
          text-align: center;
          top: -45px;
          width: 100%;
          animation: {
            duration: 14s;
            iteration-count: infinite;
            name: info-animation;
            timing-function: linear;
          }
          &:last-of-type {
            animation-delay: 7s;
          }
          > p:first-of-type {
            margin-bottom: gutter();
          }
        }
      }
    }
  }
  > div:nth-of-type(2) {
    left: 50%;
    position: absolute;
    top: 40%;
    width: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 100;
  }  
}

@mixin mobile-splash() {
  height: 100%;
  padding: 0;
  position: relative;
  > div:first-of-type {
    padding: 0 gutter();
    width: 100%;
    > ul {
      margin-bottom: gutter(3);
      > li {
        > div {
          top: 0;
          font-size: 12px;
        }
      }
    }
  }
  > div:nth-of-type(2) {
    bottom: 15%;
    position: absolute;
    top: 42%;
    width: 90%;
    transform: translate3d(-50%, 0, 0);
  }
  > div:nth-of-type(3) {
    height: 100%;
    pointer-events: none;
    position: relative;
    width: 100%;
  }
}

.splash-cell {
  @include splash;
}

.mobile .splash-cell {
  @include mobile-splash;
}
