@mixin splash() {
  background-color: $white;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: $header-height;
  z-index: 1000;
  > div:first-of-type {
    background-color: rgba(255,255,255,0.6);
    border-radius: 2px;
    left: 50%;
    padding: gutter();
    position: absolute;
    top: 25%;
    transform: translate3d(-50%, -50%, 0);
    width: 370px;
    z-index: 1;
    > ul {
      height: 100px;
      position: relative;
      > li {
        left: 0;
        position: absolute;
        right: 0;
        top: 25%;
        > span {
          display: block;
          text-align: center;
          width: 100%;
        }
      }
    }
    > div {
      > button {
        @include type-golden(0);
        background-color: $light-blue;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(112, 112, 112, 0.5);
        color: $white;
        cursor: pointer;
        display: block;
        font-weight: 600;
        margin: 0 auto;
        padding: gutter();
        text-align: center;
        text-transform: uppercase;
        width: 200px;
        &:active {
          position: relative;
          top: 1px;
        }
      }
    }
  }
}

@mixin mobile-splash() {

}

.splash-cell {
  @include splash;
}

.mobile .splash-cell {
  @include mobile-splash;
}
