$black: #707070;
$blue: #0B2F47; /* defined */
$green: #92c461;
$grey: #979797;
$highlight: #fff2cc;
$light-blue: #3fa6c9; /* defined */
$light-grey: #E6E6E6;
$red: #FF3E25;
$white: #FFFFFF;
$yellow: #FFC649;

$shadow-normal: rgba(#A2A2A2, 0.55);
$shadow-light: rgba(#A2A2A2, 0.2);
