@mixin site-header() {
  background-color: $blue;
  height: $header-height;
  padding: gutter();
  > div {
    height: 100%;
    > img {
      height: 100%;
    }
  }
}

.site-header-cell{
  @include site-header;
}
