@mixin site-header() {
  background-color: $white;
  box-shadow: 0 2px 4px color($black, 0.5);
  height: $header-height;
  position: relative;
  z-index: 2001;
  @media (max-width: 720px) { display: none; }
  > div:first-of-type {
    float: left;
    height: 100%;
    width: 206px;
    > a {
      display: inline-block;
      height: 100%;
      padding: gutter();
      > img {
        height: 100%;
      }
    }
  }
  > div:nth-of-type(2) {
    float: left;
    height: 100%;
    text-align: right;
    width: calc(100% - 206px - 68px);
    > form {
      display: inline-block;
      > input {
        border: none;
        font-weight: 600;
      }
    }
    > a, > form > input {
      @include type-golden(0);
      border-bottom: 2px solid transparent;
      color: $blue;
      display: inline-block;
      height: 100%;
      line-height: 19px;
      padding: gutter(1);
      &.active, &:hover {
        border-bottom-color: $light-blue;
        color: $light-blue;
        text-decoration: none;
      }
      &:focus {text-decoration: none;}
    }
    > form {
      > input {
        cursor: pointer;
        line-height: 10px;
      }
    }
  }
  > div:nth-of-type(3) {
    float: right;
    height: 100%;
    > a {
      background-color: $light-blue;
      cursor: pointer;
      display: block;
      height: 100%;
      padding: gutter(-1);
      &:hover {
        background-color: transparent;
        > i {
          &.open {background-image: image-url('icons/search-light-blue.svg');}
          &.close {background-image: image-url('icons/close-menu-light-blue.svg');}
          &.back {background-image: image-url('icons/arrow-right-light-blue.svg');}
        }
      }
      > i {
        &.open {background-image: image-url('icons/search.svg');}
          &.close {background-image: image-url('icons/close-menu.svg');}
          &.back {background-image: image-url('icons/arrow-right.svg');}
        background-size: cover;
        display: block;
        height: 20px;
        margin: 15px 14px;
        width: 20px;
      }
    }
  }
}

.site-header-cell{
  @include site-header;
}
