@mixin site-header() {
  background-color: $white;
  box-shadow: 0 2px 4px color($black, 0.5);
  height: $header-height;
  padding: gutter();
  position: relative;
  z-index: 2000;
  > div {
    float: left;
    height: 100%;
    > img {
      height: 100%;
      left: 0;
      padding: 10px;
      position: absolute;
      top: 0;
    }
  }
  > div:nth-of-type(2) {
    float: right;
    height: 100%;
    > a {
      cursor: pointer;
      display: block;
      height: 100%;
      padding: gutter(-1);
      > img {
        height: 21px;
      }
    }
  }
}

.site-header-cell{
  @include site-header;
}
