@mixin m-drawer() {
  bottom: 0;
  box-shadow: 0 2px 4px color($black, 0.5);
  left: 0;
  position: absolute;
  top: $header-height;
  transform: translateX(-100%);
  transition: background-color 300ms ease, transform 0ms ease 300ms;
  width: 100%;
  z-index: 2001;
  &.show {
    background-color: #22222299;
    transform: translateX(0%);
    transition: background-color 300ms ease, transform 0ms ease;
    > div:last-of-type {
      transform: translateX(0%);
    }
  }
  > div:first-of-type {
    background-color: #22222200;
    bottom:0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  > div:last-of-type {
    background-color: $white;
    border-top: 1px solid $light-grey;
    bottom: 0;
    box-shadow: 2px 10px 4px color($black, 0.5);
    left: 0;
    padding: gutter() 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: transform 300ms;
    width: calc(100% / 1.61803398875);
    will-change: transform;
    > ul {
      > li {
        padding: 0 gutter();
        &.active {
          background-color: $light-grey;
        }
        > a {
          display: block;
          padding: gutter();
          &:hover, &:focus {
            color: $blue;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.m-drawer-cell{
  @include m-drawer;
}
