#home-datasets > main {
  > section {
    font-weight: 300;
    min-height: calc(100% - 5rem);
    padding: gutter(2);

    > h1 {
      @include type-golden(1);

      font-weight: 600;
      margin-bottom: gutter();
      text-transform: uppercase;
    }

    > p {
      margin-bottom: gutter(2);
      text-align: justify;

      @media (max-width: 800px) {
        text-align: left;
      }
    }

    > div {
      display: flex;
      margin-right: -gutter();
      width: 50%;

      @media (max-width: 800px) {
        flex-direction: column;
        width: 100%;
      }

      > article {
        border: 1px solid $light-grey;
        flex: 1;
        margin-bottom: gutter();
        margin-right: gutter();
        padding: gutter();

        @media (max-width: 800px) {
          flex: 0 0 100%;
        }

        > h2 {
          @include type-golden(0);

          font-weight: 600;
          margin-bottom: gutter();
          text-transform: uppercase;
        }

        > p {
          margin-bottom: gutter();
          min-height: 100px;
          text-align: justify;

          @include type-golden(-0.5);

          @media (max-width: 800px) {
            min-height: auto;
            text-align: left;
          }
        }

        ul {
          padding-left: gutter();

          li {
            a {
              @include type-golden(-0.5);

              color: $light-blue;
              font-weight: 400;
              padding: (gutter() / 2) 0;
            }
          }
        }
      }
    }
  }
}
