$search-button-width: gutter(1.5);
$search-bar-height: calc(66px);
@mixin general-info() {
  background-color: $white;
  background-image: image-url('baloon.svg');
  background-position: bottom 0 right gutter(1);
  background-repeat: no-repeat;
  background-size: 48px 116px;
  border-left: 1px solid color($light-grey, 0.5); // for right
  bottom: 0;
  min-width: 400px;
  overflow: auto;
  padding: gutter(1) 0; // for right
  position: fixed;
  right: 0; // for right
  top: $search-bar-height;
  transform: translateX(100%); // for right
  transition: transform 300ms ease 0ms;
  width: calc(100% - 100% / 1.61803398875);
  will-change: transform;
  z-index: 1000;
  &.show {
    transform: translateX(0); // for right
    transition: transform 300ms ease 300ms;
  }
  > section {
    padding: 0 gutter(2);
    position: relative;
    > header {
      margin-bottom: gutter(1);
      margin-top: gutter();
      > h1 {
        @include type-golden(2);
        font-weight: 700;
        letter-spacing: -2px;
        line-height: gutter(2);
        > span {
          color: $blue;
          display: block;
        }
        > strong {
          color: $light-blue;
          font-weight: 800;
        }
      }
    }
    > article {
      font-family: "PT Sans";
      > p {
        @include type-golden(0);
        color: $blue;
        line-height: gutter($phi - 1);
        margin-bottom: gutter()*3;
        text-align: justify;
      }
      > ul {
        margin-bottom: gutter(2);
        > li {
          height: 42px;
          margin-bottom: gutter();
          position: relative;
          &:before {
            @include type-golden(1);
            background-color: $light-blue;
            border-radius: 100%;
            color: $white;
            content: '';
            display: block;
            float: left;
            font-weight: 600;
            height: 42px;
            line-height: 42px;
            margin-right: gutter();
            text-align: center;
            width: 42px;
          }
          &:nth-of-type(1):before {content: '1'}
          &:nth-of-type(2):before {content: '2'}
          &:nth-of-type(3):before {content: '3'}
          p {
            color: $blue;
            left: calc(42px + #{gutter()});
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      > a {
        @include type-golden(0);
        background-color: $light-blue;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 4px rgba(112, 112, 112, 0.5);
        color: $white;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        padding: gutter(-1) gutter();
        text-align: center;
        width: 100px;
        &:before {
          border-left: 3px solid $white;
          border-top: 3px solid $white;
          content: '';
          display: inline-block;
          height: 8px;
          left: -5px;
          position: relative;
          transform: rotateZ(-45deg);
          vertical-align: baseline;
          width: 8px;
        }
        &:active {
          position: relative;
          top: 1px;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@mixin mobile-general-info() {
  display: none;
  width: 100%;
  &.show {
    display: block;
    position: static;
  }
}

.general-info-cell {
  @include general-info;
}

.mobile .general-info-cell {
  @include mobile-general-info;
}
