@mixin compare-provider-button() {
  background-color: $white;
  border-radius: 55px;
  bottom: gutter();
  position: fixed;
  right: gutter();
  z-index: 1000;
  opacity: 0;
  transition: transform 300ms ease, opacity 300ms ease;
  transform: scale(0.75);
  pointer-events: none;
  &.show {
    transform: scale(1);
    opacity: 1;
    pointer-events: initial;
  }
  > button {
    @include type-golden(0);
    @include text-color($white);
    background: $blue;
    border: none;
    border-radius: 55px;
    box-shadow: 0 3px 5px -1px color($black, 0.2), 0 6px 10px 0 color($black, 0.14), 0 1px 18px 0 color($black, 0.12);
    cursor: pointer;
    height: 55px;
    padding: gutter();
    transition: all 300ms ease;
    width: auto;
    &:hover {
      background: color($blue, 0.8);
      box-shadow: 0 5px 5px -3px color($black, 0.2), 0 8px 10px 1px color($black, 0.14), 0 3px 14px 2px color($black, 0.12);
    }
    &:active, &:focus {
      border: none;
      outline: none;
    }
    > img {
      margin-right: 2px;
      position: relative;
      top: -1px;
      vertical-align: middle;
      width: 21px;
    }
    > span {
      font-weight: 400;
      margin-right: 10px;
      text-transform: uppercase;
    }
  }
}

.compare-provider-button-cell{
  @include compare-provider-button;
}
