$margin: gutter(3);
@mixin story-slider() {
  bottom: 0;
  margin: 0 $margin;
  min-width: 655px;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% / 1.61803398875 - #{$margin*2});
  transition: transform 300ms ease;
  transform: translateX(calc(100% + #{$margin}));
  &.show {
    transform: translateX(0);
  }
  &::-webkit-scrollbar { width: 0 !important }
  > div {
    height: 100%;
    min-height: 631px;
    padding: $margin gutter(1);
    &:before {
      border-left: gutter() solid color($white, 0.9);
      bottom: $margin;
      // content: '';
      display: block;
      left: calc(100% / 2.61803398875 + #{$margin});
      position: fixed;
      top: $header-height + $margin;
    }
    &:after {
      background-color: $white;
      border-radius: 3px;
      bottom: $margin;
      box-shadow: 0 1px 1px 0 color($black, 0.08), 0 1px 3px 1px color($black, 0.16);
      // content: '';
      display: block;
      position: fixed;
      right: $margin;
      top: $header-height + $margin;
      width: gutter();
    }
    > article {
      background-color: $white;
      border-radius: 3px;
      box-shadow: 0 1px 1px 0 color($black, 0.08), 0 1px 3px 1px color($black, 0.16);
      height: 100%;
      margin-bottom: gutter(3);
      padding: gutter(1);
      position: relative;
      &:last-of-type {
        margin-bottom: gutter(3);
      }
      > header {
        > h1.main {
          @include type-golden(2);
          @include text-color($blue);
          font-weight: 400;
          margin-bottom: gutter(0);
        }
        > h1 {
          @include type-golden(1);
          @include text-color($blue);
          font-weight: 300;
          margin-bottom: gutter(0);
        }
      }
      > main {
        > h2 {
          @include type-golden(1);
          @include text-color($blue);
          font-weight: 300;
          margin-bottom: gutter(0);
        }
        > p {
          @include type-golden(0);
          font-weight: 300;
          hyphens: auto;
          margin-bottom: gutter(0);
          text-align: justify;
          > strong {
            @include text-color($light-blue);
            font-weight: 400;
          }
        }
        > ul {
          font-weight: 300;
          margin-bottom: gutter(2);
          > li {
            > strong {
              @include text-color($light-blue);
              font-weight: 400;
            }
          }
        }
        > a.floating {
          bottom: gutter(0);
          position: absolute;
          right: gutter(0);
        }
      }
    }
  }
}

.story-slider-cell{
  @include story-slider;
}
