$search-button-width: gutter(1.5);
$search-bar-height: calc(44px + #{gutter(2)});
@mixin branch-list-half-right() {
  background-color: $white;
  bottom: 0;
  padding: gutter(1) gutter(1) 0 gutter(1);
  position: absolute;
  right: 0; // for right
  top: 0;
  transform: translateX(100%); // for right
  transition: transform 300ms ease 0ms;
  width: 50%;
  will-change: transform;
  &.show {
    transform: translateX(0); // for right
    transition: transform 300ms ease 300ms;
  }
  > div:first-of-type {
    height: 44px;
    margin-bottom: gutter(2);
    overflow: auto;
    > input {
      @include type-golden(0);
      float: left;
      height: 100%;
      padding: gutter();
      width: calc(100% - #{$search-button-width});
    }
    > a {
      float: right;
      height: 100%;
      padding: gutter(-0.5) 0 gutter(-0.5) gutter(-0.5);
      text-align: right;
      width: $search-button-width;
      > img {
        height: 100%;
      }
    }
  }

  > div:nth-of-type(2) {
    height: calc(100% - #{$search-bar-height});
    overflow: auto;
    padding-right: $search-button-width;
    width: 100%;
    > ul {
      > li {
        border-bottom: 1px solid $light-grey;
        &:last-of-type {
          border: none;
        }
        &:hover {
          background-color: color($light-grey, 0.3);
        }
        > a {
          cursor: pointer;
          display: block;
          overflow: auto;
          padding: gutter(-1);
          &:hover {
            text-decoration: none;
          }
          > article {
            > header {
              > h1 {
                @include type-golden(0);
                @include text-color($blue, 1);
                line-height: gutter();
              }
            }
            > main {
              > p {
                @include type-golden(-1);
                @include text-color($grey, 1);
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}

.branch-list-half-right-cell{
  @include branch-list-half-right;
}
