@mixin vote-modal {
  background-color: #00000088;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3000;

  &.show {
    display: block;
  }
  >span{
    >section{
      background-color: $white;
      height: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
      background-color: #F7FAFC;
      .header{
        position: relative;
        box-shadow: 0 2px 4px color($black, 0.5);
        height: $header-height;
        >.button {
          float: left;
          >a{
            cursor: pointer;
            display: block;
            height: 100%;
            padding: gutter(-1);
            >i{
              background-size: cover;
              display: block;
              height: 20px;
              margin: 15px 14px;
              width: 20px;
              &.back {
                background-image: image-url("icons/arrow-left-mobile.svg");
              }
            }
          }
        }
        >.image{
          display: inline-block;
          height: 100%;
          padding: 0.7rem 1rem;
          >a>img{
            height: 100%;
          }
        }
      }
      .line-container{
        background-color: #D1E4EB;
        height: 6px;
        .line{
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
      .content{
        overflow: scroll;
        position: relative;
        padding: 1rem;
        .title{
          >span{
            font-size: 14px;
            color: #3FA6C9;
            &.title{
              font-size: 15px;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
          >p{
            padding-top: 0.3rem;
            font-size: 12px;
            color: #0A2127;
            line-height: 1;
          }
        }
        .chat-wrapper{
          padding-top: 1rem;
          .answers{
            position: relative;
            padding-bottom: 0.5rem;
          }
          .question{
            font-size: 16px;
            color: #0A2127;
            padding: 1rem 0.4rem;
            font-weight: bold;
          }
          >ul>li>button, .answer{
              background-color: #fff;
              text-align: left;
              margin-bottom: 0.5rem;
              padding: 0.8rem 1.5rem;
              width: 100%;
              color: #0A2127;
              border: 1px solid #D1E4EB;
              border-radius: 8px;
              font-weight: bold;
          }
          >.star-container{
            .info{
              color: #6C7C85;
              font-size: 12px;
              padding: 0.5rem;
            }
            .star-label{
              padding: 0.5rem;
              font-weight: bold;
            }
            >ul.star{
              padding-top: 0.5rem;
              display: flex;
              >li>button.star{
                @include type-golden(-0.6);
  
                background-image: image-url("icons/star.svg");
                background-position: center top;
                background-repeat: no-repeat;
                background-size: contain;
                border: none;
                color: $light-blue;
                cursor: pointer;
                display: block;
                font-weight: 600;
                height: 85px;
                position: relative;
                width: gutter(3);
                // &:hover {
                //   background-image: image-url("icons/star-hover.svg");
                // }
  
                &.selected {
                  background-image: image-url("icons/star-golden-hover.svg");
                }
  
                > span {
                  bottom: 0;
                  color: $black;
                  left: 0;
                  position: absolute;
                  right: 0;
                  text-align: center;
                }
              }
            }
          }
          .selected{
            border: 1px solid #00ABE6;
            color: #00ABE6;
          }
        }
      }
      .urgency-info{
        padding: 1rem 0;
        .title{
          font-size: 15px;
          color: #3FA6C9;
          font-weight: bold;
        }
        >p, >ul{
          padding: 1rem 0;
          font-size: 15px;
          color: #0A2127;
        }
        >p{
          line-height: 1.5
        }
      }
      .next-button{
        position: fixed;
        bottom: 0;
        width: 100%;
        >button{
          width: 100%;
          background-color: #00ABE6;
          border: none;
          padding: 1rem;
          color: #fff;
          font-weight: bold;
        }
      }
    }
    
  }
  
}

@mixin mobile-vote-modal {
  padding: 0;

  > span {
    > section {
      background-position: top 15% right 10px, bottom 0 left 20px;
      background-size: 50px, 25px;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      > section:nth-of-type(1) {
        left: 0;
        right: 0;
        transform: translate3d(0, -50%, 0);
        width: 100%;

        > ul {
          width: 100%;
        }
      }
    }
  }
}

.vote-modal-cell {
  @include vote-modal;
}

.mobile .vote-modal-cell {
  @include mobile-vote-modal;
}
