@mixin vote-modal() {
  background-color: #00000088;
  bottom: 0;
  display: none;
  left: 0;
  padding: gutter(3) gutter(5);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3000;
  &.show {
    display: block;
  }
  > section {
    background-color: $white;
    background-image: image-url('cloud.svg'), image-url('baloon.svg');
    background-position: top 30% right 10px, bottom 0 left 40px;
    background-repeat: no-repeat;
    background-size: 100px, 50px;
    border-radius: 2px;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: transform 300ms ease, opacity 300ms ease;
    width: 100%;
    > header {
      background-color: $blue;
      margin-bottom: gutter();
      padding: gutter();
      position: relative;
      > button {
        background-color: transparent;
        background-image: image-url('icons/close-menu.svg');
        border: none;
        cursor: pointer;
        display: block;
        height: gutter(1);
        margin-right: gutter();
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: gutter(1);
      }
      > h1 {
        @include type-golden(1);
        color: $white;
        font-weight: 600;
      }
    }
    > section {
      padding: gutter();
      > h1 {
        @include type-golden(1);
        line-height: gutter(1);
        margin: gutter() auto gutter();
        max-width: 500px;
        padding: gutter();
        text-align: center;
      }
    }
    > section:nth-of-type(1) {
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      width: calc(100% - #{gutter()*2});
      > ul {
        display: inline-block;
        text-align: left;
        > li {
          display: inline-block;
          margin: gutter(-2);
          text-align: center;
          &.large {
            display: block;
          }
          > button.cuckoo {
            @include type-golden(0);
            border: 1px solid $light-blue;
            border-radius: 2px;
            color: $light-blue;
            cursor: pointer;
            display: block;
            height: 100%;
            padding: gutter(-2) gutter();
            width: 100%;
            &:hover {
              background-color: $light-blue;
              color: $white;
            }
            &.selected {
              background-color: $blue;
              border-color: $blue;
              color: $white;
            }
          }
          > button.option {
            @include type-golden(0);
            border: 1px solid $light-blue;
            border-radius: 2px;
            color: $light-blue;
            cursor: pointer;
            display: block;
            height: 100%;
            padding: gutter(-2) gutter();
            width: 100%;
            &:hover {
              background-color: $light-blue;
              color: $white;
            }
            &.selected {
              background-color: $blue;
              border-color: $blue;
              color: $white;
            }
          }
          > button.star {
            @include type-golden(-0.6);
            background-image: image-url('icons/star.svg');
            background-position: center top;
            background-repeat: no-repeat;
            background-size: contain;
            border: none;
            color: $light-blue;
            cursor: pointer;
            display: block;
            font-weight: 600;
            height: 85px;
            position: relative;
            width: gutter(3);
            &.selected {
              background-image: image-url('icons/star-selected.svg');
            }
            > span {
              bottom: 0;
              color: $black;
              left: 0;
              position: absolute;
              right: 0;
              text-align: center;
            }
          }
          > button.icon {
            @include type-golden(-1);
            background-image: image-url('icons/calendar.svg');
            background-position: center top 6px;
            background-repeat: no-repeat;
            background-size: 80%;
            border: none;
            border-radius: 2px;
            color: $light-blue;
            cursor: pointer;
            display: block;
            height: 85px;
            position: relative;
            width: 75px;
            &.selected {
              background-color: $blue;
              background-image: image-url('icons/calendar-selected.svg');
              color: $white;
            }
            > span:first-of-type {
              @include type-golden(0);
              bottom: 28px;
              font-weight: 800;
              left: 0;
              position: absolute;
              right: 0;
              text-align: center;
            }
            > span:last-of-type {
              bottom: 2px;
              left: 0;
              position: absolute;
              right: 0;
              text-align: center;
            }
          }
          > input {
            @include type-golden(0);
            border: none;
            border-bottom: 3px solid $light-blue;
            border-radius: 2px;
            color: $blue;
            display: inline;
            font-weight: 600;
            height: 100%;
            min-width: 50px;
            overflow: visible;
            padding: gutter(-2) gutter();
            resize: horizontal;
            text-align: center;
            width: 300px;
          }
        }
      }
    }
    > footer {
      padding: gutter();
      > button {
        @include type-golden(0);
        background-color: $blue;
        border: none;
        border-radius: 100%;
        bottom: 0;
        box-shadow: 0 2px 4px rgba(112, 112, 112, 0.5);
        color: $white;
        cursor: pointer;
        display: block;
        height: gutter(2);
        margin: gutter();
        padding: gutter(-1);
        position: absolute;
        text-align: center;
        width: gutter(2);
        &:active {
          bottom: -1px;
        }
        &:hover {
          text-decoration: none;
        }
        &:after {
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
          display: inline-block;
          height: 100%;
          position: relative;
          top: -1px;
          vertical-align: baseline;
          width: 100%;
        }
        &.previous {
          left: 0;
          &:after {
            background-image: image-url('icons/arrow-left.svg');
          }
        }
        &.next {
          right: 0;
          &:after {
            background-image: image-url('icons/arrow-right.svg');
          }
        }
      }
    }
  }
  .swipe-enter-active {
    opacity: 1;
    transform: translateY(0);
  }
  .swipe-leave-active {
    opacity: 0;
    transform: translateY(5px);
  }
  .swipe-enter {
    opacity: 0;
    transform: translateY(-5px);
  }
  .swipe-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(5px);
  }
}

@mixin mobile-vote-modal() {

}

.vote-modal-cell {
  @include vote-modal;
}

.mobile .vote-modal-cell {
  @include mobile-vote-modal;
}
