== cell('components/reference_map', @branches)
/ == cell('components/story_slider', @common_info)
== cell('components/branch_list_large')
== cell('components/branch_detail_large', @branches)
== cell('components/branch_list_half_right', @branches)
== cell('components/compare_branch_button')
== cell('components/branch_detail_half_left')
== cell('components/branch_detail_half_right')
/ <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
