== cell('components/reference_map', @branches)
== cell('components/story_slider', @common_info)
== cell('components/provider_list_large', @providers)
== cell('components/provider_detail_large', @providers)
== cell('components/provider_list_half_right', @providers)
== cell('components/compare_provider_button')
== cell('components/provider_detail_half_left', @provider_a)
== cell('components/provider_detail_half_right', @provider_b)
/ <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
