$search-bar-height: calc(66px);
@mixin branch-list-large() {
  background-color: $white;
  bottom: 0;
  padding: gutter(1) gutter(1) 0 gutter(1);
  position: fixed;
  right: 0;
  top: $search-bar-height;
  transform: translateX(100%);
  transition: transform 300ms ease 0ms;
  width: calc(100% / 1.61803398875);
  will-change: transform;
  &.show {
    transform: translateX(0%);
    transition: transform 300ms ease 300ms;
  }
  > div:first-of-type {
    height: 66px;
    overflow: auto;
    position: relative;
    > input {
      @include type-golden(0);
      float: left;
      height: 44px;
      padding: gutter() gutter(2) gutter() gutter();
      width: calc(100%);
    }
    > a {
      cursor: pointer;
      display: block;
      height: 16px;
      opacity: 0.6;
      position: absolute;
      right: gutter();
      top: 14px;
      width: 16px;
      &:hover {
        opacity: 1;
      }
      > img {
        height: 100%;
      }
    }
    input:invalid ~ a {
      display: none;
    }
    > div {
      clear: both;
      padding-left: gutter(-2);
      > span {
        @include type-golden(-1);
        font-weight: 300;
      }
      > ul {
        display: inline-block;
        > li {
          display: inline-block;
          margin-right: 4px;
          &:last-of-type {
            margin-right: 0;
          }
          > a {
            @include type-golden(-1);
            cursor: pointer;
            font-weight: 400;
            text-decoration: underline;
          }
        }
      }
    }
  }
  > div:nth-of-type(2) {
    height: calc(100% - #{$search-bar-height});
    overflow: auto;
    position: relative;
    width: 100%;
    > ul {
      > li {
        border-bottom: 1px solid $light-grey;
        &:last-of-type {
          border: none;
        }
        &:hover {
          background-color: color($light-grey, 0.3);
        }
        > a {
          cursor: pointer;
          display: block;
          overflow: auto;
          padding: gutter(-1);
          &:hover {
            text-decoration: none;
          }
          > article {
            > header {
              > h1 {
                @include type-golden(0);
                @include text-color($blue, 1);
                line-height: gutter();
              }
            }
            > main {
              > p {
                @include type-golden(-1);
                @include text-color($grey, 1);
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
}

.branch-list-large-cell{
  @include branch-list-large;
}
