@mixin city-image() {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;

  .cls-1  {fill: #3fa6c9; opacity:0.8; }
  .cls-2 {fill: #b9cfeb; }
  .cls-3, .cls-5, .cls-8 {fill: #304454; }
  .cls-4 {fill: #272425; }
  .cls-5, .cls-8 {stroke: #304454; }
  .cls-5, .cls-6, .cls-8, .cls-9 {stroke-miterlimit: 10; }
  .cls-6, .cls-9 {stroke: #000; }
  .cls-6, .cls-8 {stroke-width: 0.5px; }
  .cls-7 {fill: #fff; }
  .cls-9 {stroke-width: 0.75px; }

  @keyframes winds-from-east {
    0% {transform: translateX(-100%);}
    100% {transform: translateX(100%);}
  }

  .cloud-fill,
  .cloud-sillouette {
    animation: {
      duration: 4s;
      iteration-count: infinite;
      name: winds-from-east;
      timing-function: linear;
    }
    position: relative !important;
  }

  .cloud-fill {
    z-index: 2000;
  }

  .cloud-sillouette {
    z-index: 2001;
  }

  .cloud-fill-1, .cloud-sillouette-1 { animation-duration: 50s }
  .cloud-fill-2, .cloud-sillouette-2 { animation-duration: 42s }
  .cloud-fill-3, .cloud-sillouette-3 { animation-duration: 64s }
  .cloud-fill-4, .cloud-sillouette-4 { animation-duration: 78s }
  .cloud-fill-5, .cloud-sillouette-5 { animation-duration: 86s }
  .cloud-fill-6, .cloud-sillouette-6 { animation-duration: 94s }
}

@mixin mobile-city-image() {

}

.city-image-cell {
  @include city-image;
}

.mobile .city-image-cell {
  @include mobile-city-image;
}
