$development: false;

html, body {
  font-family: $font-sans;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

body {
  @include type-setting(0);
  @include text-color($black);

  @if $development { @include grid-visual };

  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  > main {
    height: calc(100% - #{$header-height});
    overflow-x: hidden;
    position: relative;
    width: 100%;
  }
  &.comparing {
    .branch-detail-half-right-cell,
    .branch-detail-half-left-cell {
      bottom: initial;
      height: auto;
      position: absolute;
      top: 0;
    }
  }
}

/* LEAFLET SETTINGS */
.leaflet-div-icon {
  background-color: transparent;
  border: none;
}

.leaflet-marker-icon:hover {
  z-index: 1001 !important;
}
