@mixin site-footer() {
  background-color: $white;
  bottom: 0;
  box-shadow: 0 2px 4px color($black, 0.5);
  left: 0;
  padding: gutter() gutter(1);
  position: fixed;
  right: 0;
  transform: translateY(calc(100% - #{gutter() / 2}));
  transition: transform 300ms ease 300ms;
  z-index: 1000;
  &:hover {
    transform: translateY(0);
    transition: transform 300ms ease;
  }
  &:after {
    background: $blue;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 3px;
    transform: translate3d(-50%, 0, 0);
    width: gutter();
  }
  > div {
    > ul {
      text-align: right;
      > li {
        display: inline-block;
        height: 40px;
        > a {
          display: inline-block;
          > img {
            height: 40px;
            max-width: 120px;
            position: relative;
            vertical-align: middle;
            &.fundacion-corona {
              top: 5px;
            }
          }
        }
      }
      > li + li:before {
        @include type-golden(2);
        color: $light-grey;
        content: '•';
        display: inline-block;
        line-height: 0;
        margin: 0 gutter();
        vertical-align: middle;
      }
    }
  }
}

.site-footer-cell{
  @include site-footer;
}
