@mixin satisfaction-visualization() {
  $aspect-ratio: 64/34;
  margin: gutter(1) 0;
  overflow: auto;
  > div {
    margin-bottom: gutter(-1);
    overflow: auto;
    > div {
      display: block;
      float: left;
      width: calc(10%);
      > img {
        $width: calc(100% - #{gutter(-2)});
        display: block;
        margin-right: gutter(-2);
        width: $width;
      }
      &:last-of-type {
        > img {
          margin-right: 0;
        }
      }
    }
  }
  > div:nth-of-type(2) {
    > p {
      @include type-golden(-1);
      > strong {
        font-weight: 800;
      }
    }
  }
}

.satisfaction-visualization-cell{
  @include satisfaction-visualization;
}
