$search-button-width: gutter(1.5);
$search-bar-height: calc(44px + #{gutter(2)});
@mixin branch-detail-half-right() {
  background-color: $white;
  border-left: 1px solid color($light-grey, 0.5); // for right
  bottom: 0;
  overflow: auto;
  padding: gutter(1) gutter(1) gutter(1) 0; // for right
  position: absolute;
  right: 0; // for right
  top: 0;
  transform: translateX(100%); // for right
  transition: transform 300ms ease;
  width: 50%;
  z-index: 1000;
  &.show {
    transform: translateX(0); // for right
  }
  > article {
    > header {
      border-bottom: 1px solid $blue;
      margin-bottom: gutter();
      > h1 {
        @include text-color($blue, 1);
        @include type-golden(1);
        line-height: gutter(1);
        padding-left: gutter(1); // for right
        text-align: right;  // for right
      }
      > h2 {
        @include text-color($grey, 1);
        @include type-golden(0);
        text-align: right;  // for right
      }
    }
    > main {
      > section {
        margin-bottom: gutter(2);
        > header {
          background-color: $light-grey;
          margin-bottom: gutter();
          overflow: auto;
          position: relative;
          > div:first-of-type {
            float: right;  // for right
            padding: gutter();
            > h1 {
              @include text-color($blue, 1);
              text-align: right;  // for right
            }
          }
          &.percentage {
            > div:first-of-type {
              width: calc(100% - 100% / 1.61803398875);
            }
            > div:last-of-type {
              border-bottom: 2px solid $blue;
              float: left;  // for right
              width: calc(100% / 1.61803398875);
              &.low { border-bottom-color: $red; > div {background-color: $red;}}
              &.high { border-bottom-color: $light-blue; > div {background-color: $light-blue;}}
              > div {
                background-color: $blue;
                float: left;  // for right
                height: 100%;
                padding: gutter();
                > span {
                  @include text-color($white);
                  @include type-golden(1);
                  float: left;  // for right
                  height: 19px;
                  line-height: 19px;
                }
              }
            }
          }
        }
        > main {
          @include grid-container;
          > div:first-of-type {
            padding: 0 gutter();
            > p {
              @include type-golden(0);
              font-weight: 300;
              margin-bottom: gutter();
            }
          }
          > div:last-of-type {
            @include grid-column(16, $no-gutter);
            overflow: hidden;
            padding-left: gutter(); // for right
            &.horizontal {
              > div {
                > div {
                  background: $light-grey;
                  margin-bottom: gutter();
                  // height: 40px;
                }
              }
            }
            &.vertical {
              > div {
                @include grid-collapse;
                overflow: auto;
                > div {
                  @include grid-column(1 of 3);
                  background: $light-grey;
                  height: 200px;
                  overflow: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

.branch-detail-half-right-cell{
  @include branch-detail-half-right;
}
